<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'Удалить комментарий', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Вы увеены?' } %>
</p>
